body {
    background-image: url("../crystalgarden.jpg");
}

a, a:link, a:visited {
    /* 글씨 밑줄 제거, 이미 방문한 사이트 색깔 설정*/
    text-decoration: none;
    color: azure;
    background-color: darkturquoise;
    font-size: 18px;
}
a:active{
    /* 커서를 누르고 있을 때 설정*/
    color: red;
}

a:hover{
    /* 커서를 올려둘 때 설정*/
    font-weight: bold;
}

img {
    width: 30%;
    height: 30%;
}